<header class="section site-header off-screen" id="gora">
  <div class="site-header__content">
    <h1 class="site-header__content__heading">
      <span class="site-header__content__heading--big">Szamotulska Drukarnia</span>
      <span class="site-header__content__heading--small">im. Józefa Kawalera</span>
    </h1>
    <div class="site-header__content__description">
      Szamotulska Drukarnia to&nbsp;lokalny zakład poligraficzny o&nbsp;ponadstuletniej historii i&nbsp;wieloletniej rodzinnej tradycji drukarskiej. Wszystko zaczęło&nbsp;się od&nbsp;Józefa Kawalera, który zaczął działalność na&nbsp;obczyźnie w&nbsp;1906&nbsp;roku, gdzie drukował polskie wydawnictwa dla&nbsp;Polonii. Gdy&nbsp;Polska wróciła na&nbsp;mapę Europy, zakład przeniósł&nbsp;się do&nbsp;Szamotuł, gdzie tradycję poligraficzną kontynował syn, wnuk, a&nbsp;obecnie drukarnię prowadzi prawnuk założyciela.
    </div>
  </div>
</header>