<section class="section section-history off-screen" id="historia">
  <article class="section-history__item">
    <img src="img/mapka-1881.png" alt="1881 - Józef Kawaler" class="section-history__item__image">
    <h3 class="section-history__item__heading">Józef Kawaler</h3>
    <p class="section-history__item__description">Józef Kawaler urodził&nbsp;się w&nbsp;1881 roku w&nbsp;Rososzycy w&nbsp;pobliżu Ostrowa Wlkp. Jako piętnastolatek podjął naukę zawodu w&nbsp;drukarni w&nbsp;Ostrowie Wielkopolskim, gdzie uczył&nbsp;się gutenbergowskiego rzemiosła. Po&nbsp;czterech latach nauki przeniósł&nbsp;się do&nbsp;Torunia. Doświadczenia wyniesione z&nbsp;okresu nauki w&nbsp;Ostrowie sprawiły, że&nbsp;jako redaktor podpisał&nbsp;się pod kilkoma numerami ówczesnej Gazety Toruńskiej. Ponoć w&nbsp;tym miejscu zrozumiał, czym jest dobre wyszykowanie (było to&nbsp;ponoć jego ulubione słowo) dobrego numeru gazety.</p>
  </article>
  <article class="section-history__item">
    <img src="img/mapka-1906.png" alt="1906 - Początki drukarni w&nbsp;Oberhausen" class="section-history__item__image">
    <h3 class="section-history__item__heading">Początki drukarni w&nbsp;Oberhausen</h3>
    <p class="section-history__item__description">W 1904 roku emigrował do&nbsp;Niemiec, gdzie włączył&nbsp;się do&nbsp;działalności licznej miejscowej Polonii w&nbsp;Westfalii pracując w&nbsp;swoim zawodzie. Zdobyte doświadczenie i&nbsp;pieniądze Józef zainwestował w&nbsp;prywatne przedsięwzięcie w&nbsp;Oberhausen. Początkowo zakład był mały, ale&nbsp;działalność Kawalera stawała&nbsp;się popularna w&nbsp;kręgach emigrantów, dzięki czemu szybko&nbsp;się rozwijał pomimo panującej działalności antypolskiej. Drukarnia zdobywała nagrody i&nbsp;uznanie na wystawach przemysłowych. Z&nbsp;nadejściem I Wojny Światowej działalność zakładu przerwano. Po&nbsp;jej zakończeniu powrót do&nbsp;pełnej formy zakładu był niemożliwy ze względu na braki w&nbsp;personelu i&nbsp;sytuację społeczno-polityczną.</p>
  </article>
  <article class="section-history__item">
    <img src="img/mapka-1921.png" alt="1921 - Działalność w&nbsp;Szamotułach" class="section-history__item__image">
    <h3 class="section-history__item__heading">Działalność w&nbsp;Szamotułach</h3>
    <p class="section-history__item__description">Siedmioma wagonami maszyny przywieziono do&nbsp;Szamotuł, gdzie Józef Kawaler był pierwszym polskim drukarzem. W&nbsp;końcu mógł bez nadzoru okupanta drukować patriotyczne i&nbsp;lokalne ultoki, broszury książki i&nbsp;inne użytkowe druki. W&nbsp;jego zakładzie powstała Gazeta Szamotulska wydawana od&nbsp;1922 roku. Józef zmarł w&nbsp;1938 roku. W&nbsp;czasie II wojny światowej drukarnia została przejęta przez Niemców. Po&nbsp;jej zakończeniu zakładem kierował syn&nbsp;Józefa, Czesław&nbsp;Kawaler do&nbsp;czasu upaństwowienia zakładu w&nbsp;czasie Polski Ludowej. W&nbsp;1994 zakład powrócił do&nbsp;rodziny Kawalerów&nbsp;- synów&nbsp;i wnuka Czesława Kawalera.</p>
  </article>
  <article class="section-history__item">
    <h3 class="section-history__item__heading">Więcej historii</h3>
    <p class="section-history__item__description">Praprawnuczka Józefa - Maria Kuzioła w&nbsp;ramach swojej pracy dyplomowej napisała i&nbsp;zaprojektowała książkę związaną z&nbsp;postacią Józefa Kawalera pt.&nbsp;„Wyszykowanie. Poligraficzne wspomnienie XX&nbsp;wieku”. Projekt jest inspirowany wydawnictwami Józefa oraz zawiera wiele materiałów&nbsp;ocalałych z&nbsp;początków&nbsp;działania drukarni. Zapraszamy do&nbsp;zapoznania&nbsp;się z&nbsp;projektem pod poniższym linkiem.</p>
    <a href="" class="section-history__item__link">&gt;&gt;Obejrzyj książkę</a>
  </article>
  <article class="section-history__item section-history__item--big">
    <img src="img/history-big.jpg" alt="Dzieje Szamotulskiej Drukarni im. Józefa Kawalera" class="section-history__item__image">
  </article>
</section>