<section class="section section-contact" id="kontakt">
  <div class="section-contact__logo">
    <img src="img/krasnale-zlogo.jpg" class="section-contact__logo__image">
    <p class="section-contact__logo__text">
      <span class="section-contact__logo__text--big">Szamotulska<br>Drukarnia</span>
      <br>
      <span class="section-contact__logo__text--small">im. Józefa Kawalera</span>
    </p>
  </div>
  <div class="section-contact__owner">
    <img src="img/mariusz-kawaler.jpg" alt="" class="section-contact__owner__photo">
    <div class="owner-info">
      <h4 class="owner-info__name">Mariusz Kawaler</h4>
      <address class="owner-info__address">
        <a href="tel:502093130" class="owner-info__link">tel.&nbsp;502&nbsp;093&nbsp;130</a><br>
        <a href="fax:616427380" class="owner-info__link">fax:&nbsp;61&nbsp;642&nbsp;73&nbsp;80</a><br>
        <a href="mailto:biuro@szamotulska-drukarnia.pl" class="owner-info__link">biuro@szamotulska-drukarnia.pl</a><br>
      </address>
    </div>
    <div class="workshop-info">
      <h4 class="workshop-info__name">Zakład:</h4>
      <address class="owner-info__address">
        ul. 3 Maja 10<br>
        64-500 Szamotuły<br>
        NIP 123-123-123<br>
      </address>
    </div>
  </div>
</section>