<nav class="navbar" id="navigation">
  <input type="checkbox" id="navigation_open">
  <label for="navigation_open">Pokaż menu</label>
  <ul class="navbar__list">
    <li class="navbar__list__item navbar__list__item--hidden">
      <a href="#gora" class="navbar__list__item__link" title="{{title}} - do góry">
        <img src="img/logo.jpg" class="navbar__list__item__image" alt="{{title}}">
      </a>
    </li>
    <li class="navbar__list__item">
      <a href="#oferta" class="navbar__list__item__link">Oferta</a>
    </li>
    <li class="navbar__list__item">
      <a href="#historia" class="navbar__list__item__link">Historia</a>
    </li>
    <li class="navbar__list__item">
      <a href="#kontakt" class="navbar__list__item__link">Kontakt</a>
    </li>
  </ul>
</nav>